.App {
  text-align: center;
}

button{
  width: 10rem;
  height: 2rem;
  font-weight: bold;
  margin-bottom: 10px;
}

input{
  width: 15rem;
  height: 2rem;
  border-radius: 5px;
}




@media screen and (max-width: 600px) {
  .BottomNavbar {
      flex-direction: column;
      align-items: center;
  }
 .inp1{
  flex-direction: column;
  max-width: 90%;
  }
 .Inp2{
   max-width: 90%;
  }
  .mediaremove {
    display: none;
    
  }
  .mediaIcon {
    display: inline-block;
  }
  .viewHeight{
    height: 17rem;
  }
  
}

/* .mainDiv{
  max-width: 100%;
}
.childDiv img{
  max-width: 40%;
}
.childDiv p {
  font-size: small;
} */

/* Steps to use Redux (redux.js) ( slice reducer ke liye banate hain )
 1. npm i redux react-redux @reduxjs/toolkit
 2. create a store folder in src and create a index.js file (main file) in store.
 3. import configureStore from @reduxjs/toolkit form website.
 4. const store = configureStore({  // reducer : 'jou bhi hamara module hai'Slice.reducer})
 5. (redux (store) or react (app) ko connect karne waali cheez 'Provider')
 <Provider store = {store}></Provider> 
*/